header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: "Roboto", sans-serif;
  }
  
  .logo {
    height: 50px;
    object-fit: contain;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
  }
  

  #img-index{
    width: 100%;
  }

  #new{
    font-family: "Roboto", sans-serif;
    margin-left: 30px;
  }

  .productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 150px;
  }
  
  .item {
    text-align: center;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
  
  .nombre {
    font-weight: bold;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }
  
  .precio {
    color: #555;
    font-size: 16px;
  }

  #envios{
    width: 100%;
    margin-bottom: 50px;
  }


  footer {
    background-color: #000000;
    padding: 40px 20px 20px 20px;
    margin-top: 60px;
    font-family: sans-serif;
  }
  
  .footer-content {
    text-align: center;
  }
  
  .footer-logo {
    height: 100px;
    margin-bottom: 20px;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #ffffff;
  }
  
  .footer-links p {
    margin: 5px 0;
    cursor: pointer;
  }
  
  .footer-links p:hover {
    color: #525252;
  }
  
  footer p {
    margin: 0;
  }
  
  .copyright {
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    margin-top: 30px;
  }

  /*top*/

  #top-title{
    font-family: "Roboto", sans-serif;
    margin-left: 30px;
  }